{{#each (chunk 3 (sort-by "publishedAt:desc" model)) as |row|}}
  <div class="row">
    {{#each row as |video|}}
      <div class="col-md-4 portfolio-item">
        <a href={{youtube-video video.resourceId.videoId}}>
          <img class="img-responsive" src={{video.thumbnails.standard.url}}>
        </a>
        <h3>
          <a href={{youtube-video video.resourceId.videoId}}>{{video.title}}</a>
        </h3>
        <p>{{http-drop video.description}}</p>
      </div>
    {{/each}}
  </div>
{{/each}}
