<div class="question-video text-center">
  <div class="youtube-player-sizer">
    {{ember-youtube
        ytid=model.videoId
        delegate=this
        delegate-as="player"
        startSeconds=(youtube-time time)
        playerVars=(hash autoplay=autoplay)
        width=888 height=500}}
  </div>
  <table style="width: 888px; margin: 0 auto;" class="table">
    <thead>
    <tr>
      <td style="text-align: left;">Question</td>
      <td style="text-align: center;">Time</td>
    </tr>
    </thead>
    <tbody>
    {{#each proxiedQuestions as |question|}}
      <tr class="{{if question.isActive 'active' 'inactive'}}" role="button" {{action 'seekTo' question.timeInSeconds target=player}}>
        <td style="text-align: left;" title="{{question.question}}">{{truncate question.question 120}}</td>
        <td style="text-align: center;">{{question.time}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
