{{#each news as |post|}}
  <div>
    <h2><a href={{post.url}}>{{post.title}}</a></h2>
    <p>{{truncate post.text 300}}</p>
  </div>
{{else}}
  {{#if news.isPending}}
    <h3>Loading fresh news, just a sec.</h3>
  {{else if news.isRejected}}
    <h3>Sorry, something is broken.</h3>
  {{/if}}
{{/each}}
