<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {{outlet}}
    </div>
    <div class="col-sm-4">
      <div>
        <h3>Ross's game dungeon</h3>
        <div>
          should be here
          <strong>
            {{#if nextGameDungeon.isFulfilled}}
              {{moment-from-now nextGameDungeon.content hideSuffix=false}}
            {{/if}}
          </strong>
        </div>
        <div>
          or you can watch <a href={{youtube-video 'mols06iqcfA'}}>last one</a>
        </div>
      </div>

      <div>
        <h3>Monthly Chats With Fans</h3>
        <div>
          should be
          <strong>
            {{moment-format nextVideoChat 'LLLL'}}
          </strong>
        </div>
        <div>
          or you can watch {{link-to 'last one' 'questions.video' '5L4An2JlquM'}}
        </div>
      </div>
    </div>
  </div>
</div>
